{
    "presets": [
      [
        "env",
        {
          "esmodules": false,
          "targets": {
            "browsers": [
              "last 3 versions",
              "ie >= 11", 
              "safari >= 7",
              "android >= 4"
            ]
          }
        }
      ]
    ],
    "plugins":[
      "transform-runtime"
    ]
  }